:root{
    --dark-navyblue:rgb(2, 2, 34);
    --light-purple:rgb(187, 110, 239);
    --white:rgb(246, 243, 243);
}
body{
    background-color: var(--dark-navyblue);
    color: var(--light-purple);
    font-family: sans-serif;
}
.container{
    margin:auto;
    width: 50%;
    font-size: large;
}
.nav-bar, .footer{
    background-color: var(--light-purple);
    color: black;
    margin:2rem;
    padding: 2rem;
    text-align: center;
    
}
.link{
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    font-weight: bolder;
    font-size: larger;
    border-radius: 0.3rem;
}
.link:hover{
    background-color: rgb(115, 12, 183);
    color: white;
}
.icon{
    width: 2em;
    margin-right: .5rem;
}

.question-container{
    border: 0.1rem solid var(--light-purple);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}
.input{
    display: block;
    margin: 0.3rem;
}
.angle-input{
    display: inline;
    margin: 0.3rem;
}
#hypotenuse-btn, #is-triangle-btn, #quiz-submit-btn{
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--dark-navyblue);
    color: var(--light-purple);
    border: 0.1rem solid var(--light-purple);
    border-radius: 0.4rem;
    cursor: pointer;
}